<!-- <!DOCTYPE html>
<html style="
height: 100%;
width: 100%;
">
  <head>
    <title>Item</title>
  </head>
  <body style="display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;"
>
      <h1>{{ object.name }}</h1>
      <p>{{ object.description }}</p>
      <p>{{ object.price }}</p>
      <form action="{% url 'buy_id' object.pk %}" method="get"><button>buy</button></form>
      
  </body>
</html> -->

<html style="
height: 100%;
width: 100%;
">
  <head>
    <title>Buy {{ object.name }}</title>
  </head>
  <body style="display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;"
  >
    <h1>{{ object.name }}</h1>
    <p>{{ object.description }}</p>
    <p>{{ object.price }}</p>
    <button id="buy-button">Buy</button>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
      var stripe = Stripe('pk_test_51L0OOEFm5dxVGPkGopWchZWGDmlYuePsLH34q1XncWuln5EjvgRbzkUk2K5wN1bCnBvnximLYk0dLEfsYKE6jcFX00vxt8XVER');
      var buyButton = document.getElementById('buy-button');
      buyButton.addEventListener('click', function() {
        // Create a new Checkout Session using the server-side endpoint 
        // Redirect to Stripe Session Checkout
        fetch("{% url 'buy_id' object.pk %}", {method: 'GET'}).then(response => {return response.json()}).then(session => stripe.redirectToCheckout({sessionId: session.id }))
      });
    </script>
  </body>
</html>